.pelicula-card{
    margin: 20px 20px;
    width: 20%;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.mostrar{
    display: block;
    text-align: center;
    justify-content: center;
    color: white
}

.ocultar{
    display: none;
}

.buttonsCard button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.botonesPeli{
        background-color: #C9C0F6;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 5px;
    }

button{
    text-align: center;
    width: 100px;
    height: 50px;
    background: #C9C0F6;
    border: none;
    font-size:12pt;
    float: center;
    color: #6A5EA8;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.TituloPeli{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
