.serie-card{
    margin: 20px 20px;
    width: 20%;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.mostrar{
    display: block;
    text-align: center;
    justify-content: center;
    color: white
}

.ocultar{
    display: none;
}

.botones button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.TituloSerie{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}